<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeeon.zeeem.projotnoelearning">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu" />
        <activity
            android:name=".EyeSlider"
            android:label="@string/title_activity_eye_slider"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Registration"
            android:label="@string/title_registration" />
        <activity
            android:name=".HomePage"
            android:label="@string/title_homepage" />
        <activity
            android:name=".LearningLevels"
            android:label="Learning Levels"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CaseSolvingLevels"
            android:label="Case Solving Levels"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PrimaryLevelLearn"
            android:label="@string/title_activity_primary_level_learn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Primary1_PreTest" />
        <activity android:name=".ShowVideo" />
        <activity android:name=".TestResult"></activity>
    </application>

</manifest>